<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://helloyasirandsulman.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d1bda1f3-0263-4c41-829b-783a0f963977/resourcegroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/helloYasirandSulman</ResourceId>
    <UserName>$helloYasirandSulman</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://helloyasirandsulman.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>